style.
    .wrapper {
        max-width: 1366px;
        padding-top: 140px;
        margin: 0 auto;
    }

    .main-head-title {
        clear: both;
        font: 28px "Roboto", sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
        color: white;
        padding: 0 6.8%;
        box-sizing: border-box;
    }

    .sub-title {
        padding: 0 6.8%;
        font: 20px "Roboto", sans-serif;
        text-align: center;
        width: 100%;
        color: #8198ab;
        margin-top: 17px;
        margin-bottom: 76px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }

    .interface-container-2 {
        color: #8da5b8;
        float: right;
    }
    .left-side{
        float: left;
    }
    .hidden{
        display: none;
    }

    .interface-container-2 .ico-text-button {
        cursor: pointer;
        font: 15px "Roboto", sans-serif;
    }

    .ico-text-button-nocontainer {
        font-family: icomoon;
        cursor: pointer;
        margin-left: 10px;
        font-size: 18px;
    }

.wrapper
    h2.main-head-title
        |Daily Task List
        button#addTask-title.ico-text-button.ico-text-button-nocontainer 
    .sub-title
        .interface-container-2
            button#to_do.ico-text-button To Do
            | #{''} | #{''}
            button#done.ico-text-button Done
        .interface-container-2.left-side.hidden
            button#select-all.ico-text-button Select All
            | #{''} | #{''}
            button#deselect-all.ico-text-button Deselect All
            | #{''} | #{''}
            button#delete-all.ico-text-button Delete Checked