style.
    .wrapper-2 {
        max-width: 1366px;
        padding-top: 40px;
        margin: 0 auto;
    }

    .sub-title-2 {
        padding: 0 6.8%;
        font: 20px "Roboto", sans-serif;
        text-align: center;
        width: 100%;
        color: #8198ab;
        margin-top: 17px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .interface-container-2 {
        color: #8da5b8;
        float: right;
    }
    .left-side{
        float: left;
    }
    .hidden{
        display: none;
    }

    .interface-container-2 .ico-text-button {
        cursor: pointer;
        font: 15px "Roboto", sans-serif;
    }
    .active-tab{
        color:white
    }


.wrapper-2
    .sub-title-2
        .interface-container-2
            button#all1.ico-text-button.active-tab All
            | #{''} | #{''}
            button#urgent1.ico-text-button Urgent
            | #{''} | #{''}
            button#high1.ico-text-button High
            | #{''} | #{''}
            button#middle1.ico-text-button Middle
            | #{''} | #{''}
            button#low1.ico-text-button Low
        .interface-container-2.left-side.hidden
            button#select-all.ico-text-button Select All
            | #{''} | #{''}
            button#deselect-all.ico-text-button Deselect All
            | #{''} | #{''}
            button#delete-all.ico-text-button Delete Checked