style.
    .task {
        height: 87px;
        width: 100%;
        background-color: white;
        line-height: 87px;
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        margin-bottom: 0.6%;
        position: relative;
        box-shadow: 6px 8px 8px 1px rgba(22, 26, 29, 0.3);
    }

    .task-buttons-container {
        position: absolute;
        right: 34px;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        height: 100%;
        top: 0;
        font-size: 19px;
        padding: 11px 0;
        box-sizing: border-box;
    }

    .edit-task {
        color: #cacaca;
        font-family: icomoon;
        cursor: pointer;
        width: 100%;
    }

    .drag-task {
        color: #cacaca;
        font-family: icomoon;
        cursor: pointer;
        width: 100%;
        display: none;
    }

    .sorted-list .drag-task {
        display: inline-block;
    }

    .edit-task:hover {
        color: #88a3b5;
    }

    .drag-task:hover {
        color: #88a3b5;
    }

    .drop-switch span {
        display: inline-block;
        vertical-align: text-bottom;
        font-size: 20px;
        margin-right: 8px;
        font-weight: bold;
    }

    .sorted-list {
        width: 100%;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    .sorted-lists-wrapper {
        max-width: 1366px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    .global-list {
        font-family: icomoon;
        position: relative;
        font-size: 20px;
        color: #8da5b8;
        clear: both;
        padding: 0 6.8%;
    }

    .drop-switch {
        color: #8da5b8;
        display: inline-block;
        padding-left: 6.8%;
        cursor: pointer
    }

    .drop-switch span {
        display: inline-block;
        vertical-align: text-bottom;
        font-size: 20px;
        margin-right: 8px;
        font-weight: bold;
        font-family: 'PTSans', sans-serif;
    }

    .drop-switch .arrow {
        font-family: icomoon;
        font-size: 11px;
    }

    .drop-switch span:hover, .drop-switch .arrow:hover {
        color: white;
    }

    .list-header {
        padding-left: 2%;
        font-size: 18px;
        margin-bottom: 1%;
        margin-top: 2%;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .list-header-category-mark {
        width: 19px;
        height: 19px;
        position: absolute;
        left: -4px;
        background: url(./Global/img/ico-sprite.png);
        z-index: 9999;
    }

    .date-day {
        height: 50%;
        line-height: 70px;
        font-size: 25px;
        font-family: 'PTSans', sans-serif;
        margin-left: 4px;
    }

    .date-month {
        line-height: 34px;
        height: 50%;
        font-family: 'HelveticaNeue', sans-serif;
        margin-left: 3px;
    }

.sorted-lists-wrapper
    button(linked_block='accord1').drop-switch.accordeon-head
        span Global list
        span.arrow 
    ul.global-list#accord1
      -for(var type in structure)
         li
            ul.sorted-list(class=type)
                li.list-header
                    span.list-header-category-mark
                    | #{type.toUpperCase()}
                -for(var i = 0;i<structure[type].length;i++)
                  -if(!filterStruct ||filterStruct.type == 'all' || filterStruct.list.indexOf(structure[type][i])!=-1)
                    li.task(class=[data[structure[type][i]].priority, data[structure[type][i]].estimation], key=structure[type][i])
                      .category 
                      .border-category
                      .date
                        p.date-day #{data[structure[type][i]].deadline.day}
                        p.date-month #{data[structure[type][i]].deadline.month}
                      section.task-info
                        h2.task-info-title #{data[structure[type][i]].title}
                        p #{data[structure[type][i]].description}
                        .task-buttons-container
                            button.drag-task 
                            button.edit-task 
                      .urgency
                        p.estimation-counter
