.wrapper
    h2.main-head-title.timer-title 1.Creating a New Design
    .sub-title
        | #{data.title}
main.main-wrapper
    ul.phases.phase-add-active
       -for(var i =0;i<data.cycle.length;i++)
         -if(data.cycle[i]==='work')
            li.phase
         -else if(data.cycle[i]==='resolved' || data.cycle[i]==='failed')
            li.phase(class='phase-' + data.cycle[i])
       -if(data.estimation < 5)
         li.button#addPomodoro.ico-text-button.ico-text-button-nocontainer 
    .graph-container(class=data.category)
        .timer-outer-circle.category
            .time-wrapper(class=data.type)
                .rotator.circle.set-able
                .filler.circle.set-able
                .mask.set-able
            .timer-inner-circle(class=data.type)
                -if(data.type === 'start')
                 .timer-time
                    p.inner-1 Lets do it!
                -if(data.type === 'work')
                 .timer-time
                    | #{data.time}
                    p.inner-2 min
                -if(data.type === 'break')
                 .timer-time
                     p.inner-1 BREAK
                     | #{data.time}
                     p.inner-2 min
                -if(data.type === 'break-over')
                 .timer-time
                     p.inner-1 Break is over
                -if(data.type === 'task-over')
                 .timer-time
                     p.inner-1 You Completed Task




